@layer theme, base, components, utilities;
@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/utilities' layer(utilities);

@theme {
  --color-primary: var(--color-tw-primary);
  --color-surface-50: var(--color-tw-surface-50);
  --color-surface-100: var(--color-tw-surface-100);
  --color-surface-200: var(--color-tw-surface-200);
  --color-surface-300: var(--color-tw-surface-300);
  --color-surface-400: var(--color-tw-surface-400);
  --color-surface-500: var(--color-tw-surface-500);
  --color-highlight: var(--color-tw-highlight);
  --color-warning: var(--color-tw-warning);
  --color-text-hard: var(--color-tw-text-hard);
  --color-text-soft: var(--color-tw-text-soft);
  --color-text-primary: var(--color-tw-text-primary);
  --color-rain: var(--color-tw-rain);
  --color-sun: var(--color-tw-sun);
}

@layer base {
  *,
  :after,
  :before,
  ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }
  html,
  :host {
    line-height: 1.5;
  }
  button,
  input,
  select,
  optgroup,
  textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }
  ol,
  ul,
  menu {
    list-style: none;
  }
  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }
  :root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    @apply text-text-hard bg-gray-200;
    height: 100%;
    margin: 0;
    color-scheme: light dark;

    --color-tw-primary: oklch(0.55 0.22 259);
    --color-tw-surface-500: oklch(1 0 106);
    --color-tw-surface-400: oklch(0.96 0 255);
    --color-tw-surface-300: oklch(0.84 0 255);
    --color-tw-surface-200: oklch(0.76 0 255);
    --color-tw-surface-100: oklch(0.59 0 255);
    --color-tw-surface-50: oklch(0.54 0 255);
    --color-tw-highlight: oklch(0.55 0.25 291);
    --color-tw-warning: oklch(0.64 0.19 42);
    --color-tw-text-hard: oklch(0 0 0);
    --color-tw-text-soft: oklch(0.39 0 0);
    --color-tw-text-primary: oklch(0.96 0 248);
    --color-tw-rain: oklch(0.55 0.22 259);
    --color-tw-sun: oklch(0.74 0.16 74);
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-tw-primary: oklch(0.55 0.22 259);
      --color-tw-surface-500: oklch(0.2 0 255);
      --color-tw-surface-400: oklch(0.24 0 255);
      --color-tw-surface-300: oklch(0.27 0 255);
      --color-tw-surface-200: oklch(0.29 0 255);
      --color-tw-surface-100: oklch(0.32 0 255);
      --color-tw-surface-50: oklch(0.42 0 255);
      --color-tw-highlight: oklch(0.65 0.2 296);
      --color-tw-warning: oklch(0.65 0.19 42);
      --color-tw-text-hard: oklch(0.84 0.01 248);
      --color-tw-text-soft: oklch(0.71 0.01 248);
      --color-tw-text-primary: oklch(0.96 0.01 248);
      --color-tw-rain: oklch(0.63 0.2 257);
      --color-tw-sun: oklch(0.86 0.16 85);
    }
  }
}

html {
  scrollbar-gutter: stable;
  background-color: #fafafa;
}
input {
  -webkit-tap-highlight-color: transparent;
}

button {
  touch-action: manipulation;
  color: inherit;
}

.clickable {
  @apply active:bg-primary/50 cursor-pointer;
  -webkit-tap-highlight-color: hsl(var(--twc-primary) / 0.2);
}
@media (hover: hover) {
  .clickable:hover {
    @apply bg-primary/20;
  }
}

.helper:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: solid 5px #fefefe;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}

.celsius {
  @apply relative;
}
.celsius::after {
  content: '°';
  top: -0.1rem;
  right: -0.25rem;
  @apply absolute text-sm;
}

.celsius.negative {
  @apply text-rain;
}
.celsius.negative::before {
  content: '-';
  top: 0;
  left: -0.4em;
  @apply absolute;
}

.ol-viewport {
  display: contents;
}

.ol-attribution {
  position: absolute;
  text-align: right;
  bottom: 5px;
  right: 5px;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  color: #222;
  user-select: none;
  backdrop-filter: blur(2px) invert(20%);
}

.ol-zoom,
.ol-rotate {
  display: none;
}

.ol-attribution ul {
  display: flex;
}
.skeleton {
  position: relative;
  overflow: hidden;
}
.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0.5;
  @apply bg-linear-to-r from-transparent from-0% via-gray-600/50 via-50% dark:via-white/30;
  animation: shimmer 4s infinite ease-in-out;
  content: '';
}

.rotation90 {
  width: 100vh;
  height: 100vw;
  transform-origin: 0 0;
  transform: rotate(-90deg) translateX(-100%);
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #000;
  }
}
