@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }
}

@layer base {
  :root {
    --color-primary: 0.55 0.218 259.46;
    --color-secondary: 0.41 20 21;
    --color-surface-500: 1 0 106;
    --color-surface-400: 0.96 0 255;
    --color-surface-300: 0.84 0 255;
    --color-surface-200: 0.76 0 255;
    --color-surface-100: 0.59 0 255;
    --color-surface-50: 0.54 0 255;
    --color-highlight: 0.55 0.25 291;
    --color-warning: 0.64 0.19 42;
    --color-text-hard: 0 0 0;
    --color-text-soft: 0.39 0 0;
    --color-text-primary: 0.96 0 248;
    --color-rain: 0.55 0.22 259;
    --color-sun: 0.74 0.16 74;
  }
  :root[class~='dark'] {
    --color-primary: 54.98% 0.218 259.46;
    --color-secondary: 41.3% 0.081 21.18;
    --color-surface-500: 20.2% 0.006 255.1;
    --color-surface-400: 23.45% 0.0078 255.11;
    --color-surface-300: 26.6% 0.0094 255.12;
    --color-surface-200: 29.86% 0.0055 255.05;
    --color-surface-100: 31.87% 0.006 255.05;
    --color-surface-50: 41.5% 0.0084 255.06;
    --color-highlight: 64.85% 0.1979 295.76;
    --color-warning: 64.55% 0.1918 41.71;
    --color-text-hard: 84.33% 0.0069 247.91;
    --color-text-soft: 71.27% 0.0129 248.01;
    --color-text-primary: 96.14% 0.0017 247.84;
    --color-rain: 62.91% 0.2013 257.36;
    --color-sun: 85.59% 0.1606 85.41;
  }
}
:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @apply bg-gray-200 text-text-hard;
  height: 100%;
  margin: 0;
}
html {
  scrollbar-gutter: stable;
}
html.dark {
  @apply bg-[#000];
}

body {
  margin: 0;
}

.rain {
  @apply !bg-rain/10;
}
.sun {
  @apply !bg-sun/10;
}

.clickable {
  @apply cursor-pointer active:bg-primary/50;
  -webkit-tap-highlight-color: hsl(var(--twc-primary) / 0.2);
}
@media (hover: hover) {
  .clickable:hover {
    @apply bg-primary/20;
  }
}

input {
  -webkit-tap-highlight-color: transparent;
}
.selected {
  @apply bg-primary text-text-primary;
}
button {
  touch-action: manipulation;
  color: inherit;
}
.helper:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: solid 5px #fefefe;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #383838 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #383838;
  border-radius: 10px;
}

.dark > * {
  scrollbar-width: auto;
  scrollbar-color: #222 #111;
}

/* Chrome, Edge, and Safari */
.dark *::-webkit-scrollbar {
  width: 12px;
}

.dark *::-webkit-scrollbar-track {
  background: #111;
}

.dark *::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 10px;
}

.celsius {
  @apply relative;
}
.celsius::after {
  content: '°';
  top: -0.1rem;
  right: -0.25rem;
  @apply absolute text-sm;
}

.celsius.negative {
  @apply text-rain;
}
.celsius.negative::before {
  content: '-';
  top: 0;
  left: -0.4em;
  @apply absolute;
}

.ol-attribution {
  position: absolute;
  text-align: right;
  bottom: 0.5em;
  right: 0.5em;
  max-width: calc(100% - 1.3em);
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  color: #000;
  user-select: none;
}

.dark .ol-attribution {
  color: #ccc;
}

.ol-zoom,
.ol-rotate {
  display: none;
}

.ol-attribution ul {
  display: flex;
}
.skeleton {
  position: relative;
  overflow: hidden;
}
.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0.5;
  @apply bg-gradient-to-r from-transparent from-0% via-gray-600/50 via-50%;
  animation: shimmer 4s infinite ease-in-out;
  content: '';
}
.dark .skeleton::after {
  @apply bg-gradient-to-r from-transparent from-0% via-white/30 via-50%;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
