@import 'tailwindcss';

@theme  {
  
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-surface-500: var(--color-surface-500);
  --color-surface-400: var(--color-surface-400);
  --color-surface-300: var(--color-surface-300);
  --color-surface-200: var(--color-surface-200);
  --color-surface-100: var(--color-surface-100);
  --color-surface-50: var(--color-surface-50);
  --color-highlight: var(--color-highlight);
  --color-warning: var(--color-warning);
  --color-text-hard: var(--color-text-hard);
  --color-text-soft: var(--color-text-soft);
  --color-text-primary: var(--color-text-primary);
  --color-rain: var(--color-rain);
  --color-sun: var(--color-sun);
 

  /* ... */
}
:root {
  --color-primary: 'hsl(214 100% 46.50%)';
  --color-secondary: 'hsl(0 34% 33%)';
  --color-surface-500: 'hsl(214 10% 100%)';
  --color-surface-400: 'hsl(214 10% 95%)';
  --color-surface-300: 'hsl(214 10% 80%)';
  --color-surface-200: 'hsl(214 10% 70%)';
  --color-surface-100: 'hsl(214 10% 50%)';
  --color-surface-50: 'hsl(214 10% 45%)';
  --color-highlight: 'hsl(260 90% 60%)';
  --color-warning: 'hsl(21 90% 48%)';
  --color-text-hard: 'hsl(0 0% 0%)';
  --color-text-soft: 'hsl(0 0% 27%)';
  --color-text-primary: 'hsl(210 7.60% 95%)';
  --color-rain: 'hsl(214 100% 46.50%)';
  --color-sun: 'hsl(40 100% 45%)';
}

:root[class~='dark'] {
  --color-primary: 'hsl(214 100% 46.50%)';
  --color-secondary: 'hsl(0 34% 33%)';
  --color-surface-500: 'hsl(214 10% 9%)';
  --color-surface-400: 'hsl(214 10% 12%)';
  --color-surface-300: 'hsl(214 10% 15%)';
  --color-surface-200: 'hsl(214 5% 18%)';
  --color-surface-100: 'hsl(214 5% 20%)';
  --color-surface-50: 'hsl(214 5% 30%)';
  --color-highlight: 'hsl(260 90% 70%)';
  --color-warning: 'hsl(21 90% 48%)';
  --color-text-hard: 'hsl(210 7.60% 80%)';
  --color-text-soft: 'hsl(210 7.60% 64%)';
  --color-text-primary: 'hsl(210 7.60% 95%)';
  --color-rain: 'hsl(214 100% 57.60%)';
  --color-sun: 'hsl(43 100% 60.80%)';
}

@utility center {
  @apply flex items-center justify-center;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /*@apply bg-gray-200 text-hard;*/
  height: 100%;
  margin: 0;
}



html {
  scrollbar-gutter: stable;
}
html.dark {
  @apply bg-[#000];
}

body {
  margin: 0;
}

.rain {
  @apply bg-rain/10!;
}
.sun {
  @apply bg-sun/10!;
}

.clickable {
  @apply cursor-pointer active:bg-primary/50;
  -webkit-tap-highlight-color: hsl(var(--twc-primary) / 0.2);
}
@media (hover: hover) {
  .clickable:hover {
    @apply bg-primary/20;
  }
}

input {
  -webkit-tap-highlight-color: transparent;
}
.selected {
  @apply bg-primary text-primary;
}
button {
  touch-action: manipulation;
  color: inherit;
}
.helper:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: solid 5px #fefefe;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #383838 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #383838;
  border-radius: 10px;
}

.dark > * {
  scrollbar-width: auto;
  scrollbar-color: #222 #111;
}

/* Chrome, Edge, and Safari */
.dark *::-webkit-scrollbar {
  width: 12px;
}

.dark *::-webkit-scrollbar-track {
  background: #111;
}

.dark *::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 10px;
}

.celsius {
  @apply relative;
}
.celsius::after {
  content: '°';
  top: -0.1rem;
  right: -0.25rem;
  @apply absolute text-sm;
}

.celsius.negative {
  @apply text-rain;
}
.celsius.negative::before {
  content: '-';
  top: 0;
  left: -0.4em;
  @apply absolute;
}

.ol-attribution {
  position: absolute;
  text-align: right;
  bottom: 0.5em;
  right: 0.5em;
  max-width: calc(100% - 1.3em);
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  color: #000;
  user-select: none;
}

.dark .ol-attribution {
  color: #ccc;
}

.ol-zoom,
.ol-rotate {
  display: none;
}

.ol-attribution ul {
  display: flex;
}
.skeleton {
  position: relative;
  overflow: hidden;
}
.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0.5;
  @apply bg-linear-to-r from-transparent from-0% via-gray-600/50 via-50%;
  animation: shimmer 4s infinite ease-in-out;
  content: '';
}
.dark .skeleton::after {
  @apply bg-linear-to-r from-transparent from-0% via-white/30 via-50%;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}


